@import '../../../styles/variables';

.create-project-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .create-project-modal-container {
    display: flex;
    flex-direction: column;

    width: 1025px;
    height: 553px;

    background-color: var(--color-card-bg);

    .create-project-modal-header {
      display: flex;
      justify-content: space-between;
      padding: 20px 24px;

      .modal-title {
        font-size: 16px;
        color: var(--color-text-light);
      }

      .close-btn {
        color: var(--color-text-light);
      }
    }

    .create-project-form {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0 24px 24px;

      .form-row {
        display: flex;
        gap: 24px;
        margin-bottom: 24px;

        .logo-upload {
          width: 226px;
          height: 141px;

          .logo-preview {
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

            background-color: var(--color-bg-light);

            .upload-text {
              font-size: 14px;
              color: #666;
            }

            .preview-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .project-name-field {
          flex: 1;

          // MUI селекторы внутри .project-name-field
          .MuiOutlinedInput-root {
            height: 46px;
            background-color: var(--color-bg-light);

            fieldset {
              border: none;
            }
          }

          .MuiInputBase-input {
            color: var(--color-text-main);
          }

          .MuiInputLabel-root {
            position: relative;
            transform: none;

            margin-bottom: 8px;

            font-size: 14px;
            color: var(--color-text-light);
          }
        }
      }

      .project-description-field {
        margin-bottom: 24px;

        .MuiOutlinedInput-root {
          min-height: 183px;
          background-color: var(--color-bg-light);

          fieldset {
            border: none;
          }
        }

        .MuiInputBase-input {
          color: var(--color-text-main);
        }

        .MuiInputLabel-root {
          position: relative;
          transform: none;

          margin-bottom: 8px;

          font-size: 14px;
          color: var(--color-text-light);
        }
      }

      .modal-actions {
        display: flex;
        justify-content: center;
        margin-top: auto;

        .submit-btn {
          width: 209px;
          height: 52px;

          font-size: 16px;
          color: var(--color-text-main);
          text-transform: none;

          background-color: var(--color-bg-light);
        }
      }
    }
  }
}
