.TeamPage-Field_block {
    background-color: #403f3f;
    height: 1080px;
    width: 1920px;
}

.TeamPage-TeamBlock {
    background-color: black;
    height: 285px;
    width: 701px;
}

.TeamPage-Grid {
    color: white;
}